<% title "Brand Types" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for brand_type in @brand_types %>
    <tr>
      <td><%=h brand_type.name %></td>
      <td><%= link_to "Show", brand_type %></td>
      <td><%= link_to "Edit", edit_brand_type_path(brand_type) %></td>
      <td><%= link_to "Destroy", brand_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Brand Types", new_brand_type_path %></p>
