<% title "Comment" %>

<p>
  <strong>User:</strong>
  <%=h @comment.author.to_s %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @comment.status %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @comment.body %>
</p>
<p>
  <strong>Resource:</strong>
  <%=h @comment.resource_id %>
</p>
<p>
  <strong>Resource Type:</strong>
  <%=h @comment.resource_type %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", comment_path(@comment), :confirm => 'Are you sure?', :method => :delete %>
</p>
