<% title "Brand Wiki - Differences"%>

<%= stylesheet_link_tag 'brand_wiki/diff', :cache => true %>


<h2><%= link_to @brand, brand_path(@brand) %> - Version <%= @changes['version'][0] %> >> Version <%= @changes['version'][1] %></h2>
<div id="bio-diff">
  <%= @changes['bio'].nil? ? 'No changes done !' : format_diff(@changes['bio'][0], @changes['bio'][1]) %>
</div>