<% title "Brand history", false %>
<% content_for :profile_tabs do %>
  <%= brand_tabs('Wiki') %>
<% end -%>
<%= brand_title('Wiki history') %>
<% pagination_stylesheet %>
<%= will_paginate @versions, :id => 'main-pagination' %>  
<hr />
<% semantic_form_for :compare, :url => diff_brand_brand_wiki_path(@brand), :html => { :method => :get } do |f| %>
  <table>
    <tr>
      <th colspan="2"><%= f.submit "Compare" %></th>
      <th>Author</th>
      <th>Summary</th>
      <th>Version</th>
    </tr>
    <% if !@versions.blank? %>
      <% @versions.each do |v| %>
        <tr>
          <td style="border-top: 1px solid #000;"><%= radio_button(nil, 'v1', v[:version]) %></td>
          <td style="border-top: 1px solid #000;"><%= radio_button(nil, 'v2', v[:version]) %></td>
          <td style="border-top: 1px solid #000;">
            <%= user_profile_link(v[:editor]) %><br />
            <%= v[:updated_at] %>
          </td>
          <td style="border-top: 1px solid #000;"><%= v[:version_comment] %></td>
          <td style="border-top: 1px solid #000;"><%= link_to "Version #{v[:version]}", (v[:version] == @brand_wiki.version) ? brand_brand_wiki_path : brand_brand_wiki_path(:version => v[:version]) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>