<% title "Brand Wiki", false %>
<% last_version = @last_version == @brand_wiki.version %>
<% content_for :profile_main do %>

<%= brand_title('Wiki' + (last_version ? ' - Current version' : " - Version #{@brand_wiki.version}")) %>

<hr />

<p>
  <strong>Bio:</strong>
  <%=h @brand_wiki.bio %>
</p>

<p>
  <strong>Version Comment:</strong>
  <%=h @brand_wiki.version_comment %>
  <br/><span id="author">-- By <%=h @brand_wiki.editor %> on <%=h @brand_wiki.updated_at %></span>
</p>

<p>
  <%= link_to "Edit", edit_brand_brand_wiki_path(@brand, :version => params[:version]) %> |
  <%= link_to "History", history_brand_brand_wiki_path(@brand) %>
</p>
<% end -%>
<% content_for :profile_sidebar do -%>
<div id="version-notes">
  <h2>Version information</h2>
  <p>
    <% if last_version %>
      You're viewing the <strong>current version</strong> of this article which is version <strong><%= @last_version %></strong>.
    <% else %>
      You're viewing <strong>version <%= @brand_wiki.version %></strong> of this article.
    <% end %>
  </p>
  <p>
    <strong>Edited:</strong>
    <%=h time_ago_in_words(@brand_wiki.updated_at) %> ago
  </p>
  <p>
    <strong>Author:</strong>
    <%= user_profile_link(@brand_wiki.editor) %>
  </p>
  <p>
    <strong>Revision comments:</strong>
    <%= h @brand_wiki.version_comment %>
  </p>
  <p>
    <% if last_version %>
      <%= link_to "View history", history_brand_brand_wiki_path(@brand) %>
    <% else %>
      <%= link_to "View current version", brand_brand_wiki_path %>
    <% end %>
  </p>
</div>
<% end -%>
