<% title "Brand Wiki" %>
<% current_version = @last_version == @brand_wiki.version %>
<p>
  <% if current_version %>
    You're viewing the current version of this wiki (version <%= @last_version %> by <%=h @brand_wiki.editor %>)
  <% else %>
    You're viewing version <%= @brand_wiki.version %> of this article. <%= link_to "View current version.", brand_brand_wiki_path %>
  <% end %>
</p>   
<p>
  <strong>Brand:</strong>
  <%= link_to @brand, brand_path(@brand) %>
</p>
<p>
  <strong>Bio:</strong>
  <%=h @brand_wiki.bio %>
</p>
<p>
  <strong>Url:</strong>
  <%=h @brand_wiki.url %>
</p>

<p>
  <strong>Version Comment:</strong>
  <%=h @brand_wiki.version_comment %>
  <br/><span id="author">-- By <%=h @brand_wiki.editor %> on <%=h @brand_wiki.updated_at %></span>
</p>

<p>
  <%= link_to "Edit", edit_brand_brand_wiki_path(@brand, :version => params[:version]) %> |
  <%= link_to "History", history_brand_brand_wiki_path %>
</p>
