<% content_for :profile_tabs do -%>
<%= brand_tabs('Fans') %>
<% end -%>
<% stylesheet('profile/fans', 'vcards/users', 'pagination') 
%>
<%= brand_title 'Fans' %>
<%= will_paginate @fans, :id => 'main-pagination' %>
<hr />
<div id="fan-list">
  <% for fan in @fans %>
    <div class="vcard">
      <div class="picture-wrapper">
        <%= user_avatar(fan, :width => 80, :height => 80) %>
      </div>
      <div class="infos">
        <h3><%= user_profile_link(fan) %></h3>
        <span class="user-infos">
          22, Reims, France
        </span>
        <span class="custom-infos">
          4 hours ago.
        </span>
      </div>
    </div>
  <% end -%>
</div>