<% title "Find brands" %>
<%= stylesheet 'brands/index' %>

<div id="brands-wrapper">
  <div id="brands-search">
    <h3>Search brands</h3>
    <% search_box %>
  </div>

  <div id="brands-taglist">
    <%-
    # Let's build a list so that we can use our tabs_helper
    foo = [{:title => 'all', :url => brands_path}]
    @top_tags.sort{|t1, t2| t1.name <=> t2.name}.each do |tag|
      foo += [{:title => tag.name.to_s.downcase, :url => '#'}]
    end
    -%>
    <%= tabs(@selected_tab || 'all', foo) -%>
    <br />
  </div>
  <div id="brands-main">
    <% for brand in @brands %>
      <div class="brand">
        <span class="brand-picture">
          <%= image_tag 'blank-profile-150x150.png', :width => "80", :height => "80" %>
        </span>
        <h3><%= link_to h(brand.name), brand %></h3>
        <span class="score">
          <%= pluralize(brand.pageviews.to_i, 'pageview') %>, <%= pluralize(brand.fans_count.to_i, 'fan') %>
        </span>
      </div>
    <% end %>
    <p><%= link_to "New Brand", new_brand_path %></p>
  </div>
</div>

<div id="brands-sidebar">
  <h3>See recommendations :</h3>
  <% for brand in @brands %>
    <div class="recommendation">
      <%= link_to h(brand.name), brand %>
    </div> 
  <% end %>
</div>
