<%= stylesheet('brands/show') %>
<% content_for :profile_tabs do -%>
<%= brand_tabs('Brand') %>
<% end -%>
<% content_for :profile_main do -%>
  <div id="score-container">
    <%
    # TODO : Add jQuery for this !
    %>
    <span id="vote_up"><%= link_to vote_up_image(@brand), vote_for_brand_votes_path(@brand), :method => :post, :id => 'vote_up' -%></span>
    <span id="score"><%= link_to h(@brand.score), vote_nil_brand_votes_path(@brand), :method => :post -%></span>
    <span id="vote_down"><%= link_to vote_down_image(@brand), vote_against_brand_votes_path(@brand), :method => :post -%></span>
  </div>
  
  <div id="profile-pictures">
    <%= image_tag 'blank-profile-150x150.png', :height => 180 %><br />
    <%= link_to 'See all pictures (12)', '#' %>
  </div>

  <h1><%=h @brand.name %></h1>
  <span id="pageviews"><%= number_with_delimiter(@brand.pageviews.to_i) %> pageviews, <%= number_with_delimiter(@brand.votes_count.to_i) %> votes</span><br />
  <span id="comments-count"><%= link_to "#{number_with_delimiter(@brand.comments_count.to_i)} comments", '#' %></span>
  <br />
  
  <p id="profile-description">
    <strong>Description :</strong><br />
    <% if @brand.brand_wiki.nil? %>
      <%= link_to "Add a description", edit_brand_brand_wiki_path(@brand) %>
    <% else %>
      <%=h @brand.brand_wiki.bio %><br/>
      <span id="profile-description-links">
        <%= link_to "More", brand_brand_wiki_path(@brand) %> |
        <%= link_to "Edit", edit_brand_brand_wiki_path(@brand) %>
      </span>
    <% end %>
  </p>
  <hr />
  <h2>Comments (<%= @brand.comments_count %>)</h2>
  <%= render :partial => "comments/comment", :locals => {:commentable => @brand}, :collection => @comments %>
  <% if @brand.comments_count > @comments.count %>
    <%= link_to 'See more', brand_comments_path(@brand) %>
  <% end -%>
<% end -%>
<% content_for :profile_sidebar do -%>
  <div id="profile-tags">
    <h2>Tags</h2>
    <% tag_cloud(@tags, %w(tag-cloud1 tag-cloud2 tag-cloud3 tag-cloud4)) do |tag, css_class| %>
        <%= brand_tag_link(tag, :class => css_class) %>
    <% end %>
    <span class="bottom-links">
      <%
      # TODO : JavaScriptify this (some kind of facebox + autocomplete)
      %>
      <%= link_to 'Tag', new_brand_tagging_path(@brand) %> |
      <%= link_to 'See all', brand_tags_path(@brand) %>
    </span>
  </div>
  <hr />
  <div id="profile-activity">
    <h2>News feed</h2>
    <ul>
      <% @activities.each do |activity| -%>
        <%= brand_activity(activity, :last => activity == @activities.last) %>
      <% end %>
    </ul>
    <%= link_to "See more", brand_activity_path(@brand), :class => 'bottom-links' %>
  </div>
  <hr />
  <div id="profile-fans">
    <h2>Fans</h2>
    <% @brand.fans_for_profile.each do |fan| -%>
      <span class="fan-wrapper"><%= link_to "#{user_avatar(fan)} #{h(fan.to_s)}", fan %></span>
    <% end -%>
    <%= link_to "See all (#{@brand.fans.count})", brand_fans_path(@brand), :class => 'bottom-links' %>
  </div>
  <hr />
<% end -%>