<% title "Brand" %>
<div id="score-container">
  <strong><%= @brand.score.to_i %></strong>
  <%
  # TODO : Add jQuery for this !
  %>
  <%= link_to "+", vote_for_brand_votes_path(@brand), :method => :post -%> /
  <%= link_to "0", vote_nil_brand_votes_path(@brand), :method => :post -%> /
  <%= link_to "-", vote_against_brand_votes_path(@brand), :method => :post -%>
</div>
<p>
  <strong>Name:</strong>
  <%=h @brand.name %>
</p>

<div id="brand_wiki">
  <p>
    <strong>Url:</strong>
    <%=h @brand.brand_wiki.try(:url) %>
  </p>
  <p>
    <strong>Description:</strong>
    <% if @brand.brand_wiki.nil? -%>
      <%= link_to "Add a description", edit_brand_brand_wiki_path(@brand) %>
    <% else %>
      <%=h @brand.brand_wiki.bio %> |
      <%= link_to "Edit", edit_brand_brand_wiki_path(@brand) %>
    <% end %>
  </p>
</div>

<p>
  <%= link_to "Destroy", @brand, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", brands_path %>
</p>

<%
  # TODO = use an helper to do this
  @commentable = @brand 
%>
<%= render :partial => "comments/index" %>