<% title "Brand" %>
<div id="score-container">
  <strong><%= @brand.score.to_i %></strong>
  <%
  # TODO : Add jQuery for this !
  %>
  <%= link_to "+", vote_for_brand_votes_path(@brand), :method => :post -%> /
  <%= link_to "0", vote_nil_brand_votes_path(@brand), :method => :post -%> /
  <%= link_to "-", vote_against_brand_votes_path(@brand), :method => :post -%>
</div>
<p>
  <strong>Name:</strong>
  <%=h @brand.name %>
</p>
<p>
  <strong>Url:</strong>
  <%=h @brand.url %>
</p>

<p>
  <%= link_to "Edit", edit_brand_path(@brand) %> |
  <%= link_to "Destroy", @brand, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", brands_path %>
</p>

<%
  # TODO = use an helper to do this
  @commentable = @brand 
%>
<%= render :partial => "comments/index" %>