<% form_for @votes do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :voter_id %><br />
    <%= f.text_field :voter_id %>
  </p>
  <p>
    <%= f.label :voter_sex %><br />
    <%= f.text_field :voter_sex %>
  </p>
  <p>
    <%= f.label :votable_id %><br />
    <%= f.text_field :votable_id %>
  </p>
  <p>
    <%= f.label :votable_type %><br />
    <%= f.text_field :votable_type %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
